# Cấu hình để auto khi tải ko bị cập nhật phiên bản
# Nếu không có: npm i axios trong package.json thường sẽ lưu kiểu: ^1.9.0
# Nếu có thì nó sẽ không có dấu ^, tức là sẽ lưu đúng phiên bản 1.9.0, nếu sau này có phiên bản mới hơn thì nó sẽ không tự động cập nhật
save-exact=true

# Ép máy tính bỏ qua sự khác biệt phiên bản này và vẫn cài đặt dependencies
legacy-peer-deps=true