@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Ẩn con mắt hiển thị mật khẩu mặc định của trình duyệt Edge/Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

button:not(:disabled),
[role="button"]:not([aria-disabled="true"]),
a[href],
summary,
input[type="button"]:not(:disabled),
input[type="submit"]:not(:disabled),
input[type="reset"]:not(:disabled) {
  cursor: pointer;
}